
.responsive-navbar,
.responsive-content,
.responsive-footer {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .responsive-navbar,
    .responsive-content,
    .responsive-footer {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .responsive-navbar,
    .responsive-content,
    .responsive-footer {
        width: 100%;
    }
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  #content {
    margin-top: 60px; 

    min-height: calc(100vh - 120px); 
  }
  
  #footer {
    position: relative;
    width: 100%;
    margin-top: auto;
  }
  