apiVersion: v1
kind: Service
metadata:
  name: server
spec:
  type: NodePort           
  selector:
    app: server
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 32010