grafana:
  enabled: true
  adminPassword: admin
  service:
    type: ClusterIP

alertmanager:
  enabled: false

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    serviceMonitorNamespaceSelector:
      matchNames:
      - default

    serviceMonitorSelector: {}