
<section class="page-section" id="contact">
  <div class="text-center">
    <h2 class="section-heading">Dashboard</h2>
  </div>
  
  <button class="btn btn-outline-info" id="miBoton" type="button" (click)="descargarResultados()"
  [disabled]="!this.resultados">
    Resultados
  </button>
  <div class="iframes-container">
    @for (iframeGroup of this.iframesHtml; track $index)
    {
    <div class="iframe-wrapper">
      <p class="section-label">{{this.nombres[$index]}}</p>
      <div [innerHTML]="iframeGroup"></div>
    </div>
    }
  </div>
</section>
